.hero-section {
    background: url(../../img/banners/hero.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}


.hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero-buttons{
    display: flex;
    gap: 16px;
    line-height: 23px;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;

}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
   
    color: #ffffff;
    font-weight: 400;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    background: transparent;
}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}